.main {
  width: 100%;
}

.home {
  height: 100vh;
  width: 100vw;
  transition: transform 2s ease-out;

  display: flex;
  justify-content: left;
}

.cozyBackground {
  height: 1800px;
  width: 3200px;
  min-width: 3200px;
  min-height: 1800px;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.radio_wrapper {
  height: 200px;
  width: 220px;
  z-index: 1;
  background-color: rgba(255, 0, 0, 0.366);
  position: absolute;

  left: 1270px;
  top: 810px;

  cursor: progress;
}

.tilt_wrapper {
  left: 1210px;
  top: 600px;

  position: absolute;
}

.tilt_main {
  height: 200px;
  width: 350px;
  background-color: rgba(0, 195, 255, 0.35);

  border-radius: 25px;
  z-index: 1;
}

.scroll {
  height: 500px;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);

  position: relative;
}

.sub {
  height: 1000px;
  width: 100%;

  background-color: black;
  position: relative;
}